html{
    scroll-behavior: smooth;
}

h1{
    font-size: 50px;
    width: auto;
    margin: 5px, auto;
    text-align: center;
}

.bold{
    font-weight: bold;
}

header{
    font-weight: bold;
    font-size: 40px;
}

#main-doc{
    display: flex;
}

.navbar{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background-color: rgba(207, 207, 207, 0.5);
}

.navmenu{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%; /* Prevent shrinking and make it span full width */
    border: none;
    border-top: 1px solid black; /* To define the line */
    background-color: rgba(207, 207, 207, 0.5);
}
.navmenu > :first-child{
    margin-top: 10px;
}

.navmenu a{
    display: flex;
    align-items: center;
    background-color: rgba(207, 207, 207, 0.5);
    font-size: 25px;
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    height: 50px;
    vertical-align: center;
}

.navmenu a:hover{
    transition-duration: 0.5s;
    background-color: rgba(255,255,255,1);
    color: black;
}

.mainsection{
    margin-left: 200px;
}

code{
    display: flex;
    width: fit-content;
    background-color: rgba(0,0,0,0.3);
    height: 30px;
    align-items: center;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
}
